# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.cursor/rules
.cursor/

# All txt and md files (development/docs)
*.txt
*.md

# Except essential project files
!README.md
!CHANGELOG.md
